<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{currentUser.Username | uppercase}} </h2>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Sales</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">Products</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">Customers</a>

</mat-nav-list>