<mat-toolbar>
    <span>{{customerService.form.controls['Id'].value?"Modify Customer":"New Customer"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="customerService.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">

          <input type="hidden" formControlName="Id">

          <mat-form-field>
            <input type="text" formControlName="Firstname" matInput placeholder="First Name*">
            <mat-error>First Name is required.</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input type="text" formControlName="Lastname" matInput placeholder="Last Name*">
            <mat-error>Last Name is required.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="text" formControlName="Address" matInput placeholder="Address*">
            <mat-error>Address is required.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="number" formControlName="PhoneNumber" matInput placeholder="Phone Number*">
            <mat-error>Phone Number is required.</mat-error>
          </mat-form-field>

          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="customerService.form.invalid">Add</button>
            <button type="button" mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>

        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>